body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.landingTitle, .userTitle, .userInfoForm{
  text-align: center;
}

.topicParagraph{
  display: flex;
  display: inline-block;
  margin-top:100px;
  margin-left: 250px;
  
}

.citiesList{
  border: 1px solid black;
  width: 20%;
  
}

.mainCity{
  width:70%;
  border: 1px solid black;
  margin-left: 400px;
  
}


.about h1 {
  text-align:center;
  margin-bottom: 1em;
  
}
.about {
  margin: 100px 20px;
}

.nav  {
  padding-top: 10px;
  padding-bottom: 10px;
}


Menu.props.name {
  font-size:20px;
}

.Signup {
  width: 50%;
  margin: 0 auto;
  
}
.Signup h1 {
  margin-bottom: 50px;
  text-align: center;

}
.Login h1 {
  margin-bottom: 50px;
  text-align: center;
}
 .Menu .Modal  {
  width:400px;
  height:400px;
}


.Login {
  margin: 0 auto;
  width:50%;
}


.postText{
  padding-right: 500px;
  padding-bottom: 500px;
}

.postForm{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left:100px;

}

.footer {
  width:100%;
  height:10vh;
  background-color: grey;
}
.footer h3 {
  text-align: center;
  padding-top: 30px;
  font-size: 12px;
}