
.wayfarer {
 font-weight: bold;
 font-size:20px;
}
a {
  color:silver !important;
}

.navBackground{
  background-color: e !important;
}

.button:focus{
  outline:none;

}

.Welcome{
  text-align: center;
}

 .carousel-caption{
  display:none !important;
}

ol{
  background-color:transparent !important;
}

h4{
  margin-top :0px;
  margin-bottom:0px !important;
  
}

.postContainer{
  justify-content: center;
  text-align: center;
}
/* 
.tipTextDiv{
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  
} */

.listTip{
  margin-bottom: 30px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.landingTitle, .userTitle, .userInfoForm{
  text-align: center;
}

.topicParagraph{
  display: flex;
  display: inline-block;
  margin-top:100px;
  margin-left: 250px;
  
}

.citiesList{
  /* border: 1px solid black; */
  width: 20%;
  height: 400px;
  margin-right:20px;  
}

.citiesList h2{
  padding-bottom:25px;
  border-bottom: 1px solid black
}


.citiesButtons{

  display:flex;
  flex-direction: column;
  margin-left:0px;
  padding-left: 0px;
  margin-top:30px; 
}

.button{
  margin-bottom: 40px;
  padding:20px;
  font-size:30px;
  border:none;
  width:100%;
}

.mainCity{
  width:70%;
  /* border: 1px solid black; */
  justify-content: center
 
}

.CITYDIV{
  display: flex;
  text-align: center;
  margin-top:30px;
}

.about h1 {
  text-align:center;
  margin-bottom: 1em;
  
}
.about {
  margin: 200px 40px;

}
.about h1 {
  margin-bottom: 70px;
}

.ui.card.tristan {
  background: rgba(235,247,250,1);
  background: -moz-linear-gradient(left, rgba(235,247,250,1) 0%, rgba(209,230,239,1) 35%, rgba(198,226,235,1) 51%, rgba(190,229,234,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,247,250,1)), color-stop(35%, rgba(209,230,239,1)), color-stop(51%, rgba(198,226,235,1)), color-stop(100%, rgba(190,229,234,1)));
  background: -webkit-linear-gradient(left, rgba(235,247,250,1) 0%, rgba(209,230,239,1) 35%, rgba(198,226,235,1) 51%, rgba(190,229,234,1) 100%);
  background: -o-linear-gradient(left, rgba(235,247,250,1) 0%, rgba(209,230,239,1) 35%, rgba(198,226,235,1) 51%, rgba(190,229,234,1) 100%);
  background: -ms-linear-gradient(left, rgba(235,247,250,1) 0%, rgba(209,230,239,1) 35%, rgba(198,226,235,1) 51%, rgba(190,229,234,1) 100%);
  background: linear-gradient(to right, rgba(235,247,250,1) 0%, rgba(209,230,239,1) 35%, rgba(198,226,235,1) 51%, rgba(190,229,234,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf7fa', endColorstr='#bee5ea', GradientType=1 );
}
.ui.card.chike {
  background: rgba(183,222,237,1);
background: -moz-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,0.99) 23%, rgba(33,180,226,0.97) 51%, rgba(183,222,237,0.94) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(183,222,237,1)), color-stop(23%, rgba(113,206,239,0.99)), color-stop(51%, rgba(33,180,226,0.97)), color-stop(100%, rgba(183,222,237,0.94)));
background: -webkit-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,0.99) 23%, rgba(33,180,226,0.97) 51%, rgba(183,222,237,0.94) 100%);
background: -o-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,0.99) 23%, rgba(33,180,226,0.97) 51%, rgba(183,222,237,0.94) 100%);
background: -ms-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,0.99) 23%, rgba(33,180,226,0.97) 51%, rgba(183,222,237,0.94) 100%);
background: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(113,206,239,0.99) 23%, rgba(33,180,226,0.97) 51%, rgba(183,222,237,0.94) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1 );
}
.ui.card.eunice {
  background: rgba(184,181,242,1);
background: -moz-linear-gradient(left, rgba(184,181,242,1) 0%, rgba(200,191,243,1) 49%, rgba(214,204,245,1) 58%, rgba(235,232,252,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(184,181,242,1)), color-stop(49%, rgba(200,191,243,1)), color-stop(58%, rgba(214,204,245,1)), color-stop(100%, rgba(235,232,252,1)));
background: -webkit-linear-gradient(left, rgba(184,181,242,1) 0%, rgba(200,191,243,1) 49%, rgba(214,204,245,1) 58%, rgba(235,232,252,1) 100%);
background: -o-linear-gradient(left, rgba(184,181,242,1) 0%, rgba(200,191,243,1) 49%, rgba(214,204,245,1) 58%, rgba(235,232,252,1) 100%);
background: -ms-linear-gradient(left, rgba(184,181,242,1) 0%, rgba(200,191,243,1) 49%, rgba(214,204,245,1) 58%, rgba(235,232,252,1) 100%);
background: linear-gradient(to right, rgba(184,181,242,1) 0%, rgba(200,191,243,1) 49%, rgba(214,204,245,1) 58%, rgba(235,232,252,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8b5f2', endColorstr='#ebe8fc', GradientType=1 );
}
.ui.card.rhea {
  background: rgba(252,236,252,1);
background: -moz-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 32%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,236,252,1)), color-stop(32%, rgba(251,166,225,1)), color-stop(51%, rgba(253,137,215,1)), color-stop(100%, rgba(255,124,216,1)));
background: -webkit-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 32%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
background: -o-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 32%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
background: -ms-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 32%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
background: linear-gradient(to right, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 32%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8', GradientType=1 );
}

.ui.top.fixed.menu {
  background: rgba(98,125,77,0.69);
background: -moz-linear-gradient(left, rgba(98,125,77,0.69) 1%, rgba(89,116,68,0.69) 14%, rgba(53,80,30,1) 68%, rgba(31,59,8,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(1%, rgba(98,125,77,0.69)), color-stop(14%, rgba(89,116,68,0.69)), color-stop(68%, rgba(53,80,30,1)), color-stop(100%, rgba(31,59,8,1)));
background: -webkit-linear-gradient(left, rgba(98,125,77,0.69) 1%, rgba(89,116,68,0.69) 14%, rgba(53,80,30,1) 68%, rgba(31,59,8,1) 100%);
background: -o-linear-gradient(left, rgba(98,125,77,0.69) 1%, rgba(89,116,68,0.69) 14%, rgba(53,80,30,1) 68%, rgba(31,59,8,1) 100%);
background: -ms-linear-gradient(left, rgba(98,125,77,0.69) 1%, rgba(89,116,68,0.69) 14%, rgba(53,80,30,1) 68%, rgba(31,59,8,1) 100%);
background: linear-gradient(to right, rgba(98,125,77,0.69) 1%, rgba(89,116,68,0.69) 14%, rgba(53,80,30,1) 68%, rgba(31,59,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08', GradientType=1 );
}
div .content .abouthead {
  background-color:white !important;

}

Menu.props.name {
  font-size:20px;
}

.Signup {
  width: 50%;
  margin: 0 auto;
}
.Signup h1 {
  margin-bottom: 30px;
  text-align: center;
}
.Login {
  margin: 0 auto;
  width:50%;
}

.updateTipFormInput{
  width:300px;
  background-color: white;
 }

 
.postText{
  margin-top:5px;
  padding-right: 500px;
  padding-bottom: 100px;
}

.postTitle{
  margin-top:5px;
}


  
.footer h3 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  background: rgba(98,125,77,0.69);
background: -moz-linear-gradient(left, rgba(98,125,77,0.69) 1%, rgba(89,116,68,0.69) 14%, rgba(53,80,30,1) 68%, rgba(31,59,8,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(1%, rgba(98,125,77,0.69)), color-stop(14%, rgba(89,116,68,0.69)), color-stop(68%, rgba(53,80,30,1)), color-stop(100%, rgba(31,59,8,1)));
background: -webkit-linear-gradient(left, rgba(98,125,77,0.69) 1%, rgba(89,116,68,0.69) 14%, rgba(53,80,30,1) 68%, rgba(31,59,8,1) 100%);
background: -o-linear-gradient(left, rgba(98,125,77,0.69) 1%, rgba(89,116,68,0.69) 14%, rgba(53,80,30,1) 68%, rgba(31,59,8,1) 100%);
background: -ms-linear-gradient(left, rgba(98,125,77,0.69) 1%, rgba(89,116,68,0.69) 14%, rgba(53,80,30,1) 68%, rgba(31,59,8,1) 100%);
background: linear-gradient(to right, rgba(98,125,77,0.69) 1%, rgba(89,116,68,0.69) 14%, rgba(53,80,30,1) 68%, rgba(31,59,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08', GradientType=1 );

}

/* .postText{
  display: flex;
  flex-direction: row;
} */

.cityImage{
  height:500px;
}

.postForm{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top:30px;  
  /* margin-left:100px; */

}

input, textarea{
  background-color: white;
}

.submitTip{
  border: 1px solid black;
  width:10%;
  padding: 5px;
  background-color: lightgray;  
  align-self: flex-end;
  margin-top:10px;
  margin-bottom: 10px;


}

li{
  list-style-type: none;
}

.specificUser{
  display: flex;
  flex-direction: column-reverse;
}
.remove {
  margin-left: 250px;
}
.save{
  margin-left:20px;
}
.ui.modal.transition.visible.active {
  top:5rem;
  left:20rem;
  height:40rem;
  width:50rem;
}
.ui.modal.transition.visible.active .header {
  background: rgba(98,125,77,0.69);
background: -moz-linear-gradient(left, rgba(98,125,77,0.69) 1%, rgba(89,116,68,0.69) 14%, rgba(53,80,30,1) 68%, rgba(31,59,8,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(1%, rgba(98,125,77,0.69)), color-stop(14%, rgba(89,116,68,0.69)), color-stop(68%, rgba(53,80,30,1)), color-stop(100%, rgba(31,59,8,1)));
background: -webkit-linear-gradient(left, rgba(98,125,77,0.69) 1%, rgba(89,116,68,0.69) 14%, rgba(53,80,30,1) 68%, rgba(31,59,8,1) 100%);
background: -o-linear-gradient(left, rgba(98,125,77,0.69) 1%, rgba(89,116,68,0.69) 14%, rgba(53,80,30,1) 68%, rgba(31,59,8,1) 100%);
background: -ms-linear-gradient(left, rgba(98,125,77,0.69) 1%, rgba(89,116,68,0.69) 14%, rgba(53,80,30,1) 68%, rgba(31,59,8,1) 100%);
background: linear-gradient(to right, rgba(98,125,77,0.69) 1%, rgba(89,116,68,0.69) 14%, rgba(53,80,30,1) 68%, rgba(31,59,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08', GradientType=1 );
  height:50px;
  margin-bottom:50px;
}